.navigate {
    grid-area: n;
    display: flex;
    background-color: darkcyan;
    padding: 10px;
    flex-direction: column;
    width: 100px;
}

.item {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;

}