.App{
  display: grid;
  grid-template-areas:
  "h h"
  "n s";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 0fr;
  grid-gap: 10px;
  padding: 50px;
}

.mainContent {
  grid-area: s;
  background-color: rgb(99, 208, 204);
}

  