header>img{
  width: 50px;
  margin-left: 20px;
}
.App{
  display: grid;
  grid-template-areas:
  "h h"
  "n s";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 0fr;
  grid-gap: 10px;
  padding: 50px;
}
header {
  grid-area: h;
  background-color: cadetblue;
  display: flex;
  align-items: center;
}
nav {
  grid-area: n;
  display: flex;
  background-color: darkcyan;
  padding: 10px;
  flex-direction: column;
  width: 100px;
}
nav>a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  
}

.imgSection>img{
  width: 900px;
  height: 400px;
}
section {
  grid-area: s;
  background-color: cornsilk;
}